@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 10px;
}

body {
  font-family: "Poppins", sans-serif;
  height: 100vh;
}

.login-main {
  display: flex;
}

.login-left {
  flex-grow: 1;
  height: 100vh;
  background-color: #E9E9E9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-left img {
  width: 400px;
  border-radius: 50%;
  object-fit: cover;
}

.login-right {
  height: 100vh;
  flex-grow: 1;
}

.login-right-container {
  height: 100%;
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-right form {
  display: flex;
  flex-direction: column;
}

.login-logo {
  align-self: center;
  padding-top: 50px;
}

.login-center {
  margin: auto 0;
  text-align: center;
}

.login-logo img {
  height: 100px;
  width: 300px;
}

.login-center h2 {
  font-size: 3.5rem;
}

.login-center p {
  font-weight: 400;
  font-size: 2rem;
  margin-bottom: 40px;
}

form input[type='name'],
form input[type='email'],
form input[type='text'] {
  width: 100%;
  padding: 16px;
  margin-bottom: 16px;
  border: none;
  border-bottom: 1px solid black;
  outline: none;
  box-sizing: border-box;
}

.login-center-buttons {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

/* Send Message button */
.login-button {
  background-color: black;
  color: white;
  border: 3px solid black;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 40px;
}

.login-button:hover {
  color: #333;
  background-color: white;
}

/* Google Contact button */
.google-login-button {
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  padding: 10px 20px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 50px;
}

.google-login-button img {
  width: 30px;
}

.google-login-button:hover {
  color: white;
  background-color: black;
}

.login-bottom-p {
  text-align: center;
  font-size: 1.5rem;
  padding-bottom: 40px;
}

.login-bottom-p a {
  text-decoration: none;
  font-weight: 600;
}

.login-bottom-p a:hover {
  text-decoration: underline;
}

/* Message Input Styling */
.form-group {
  width: 100%;
  margin-bottom: 16px;
}

.form-group textarea {
  width: 100%;
  padding: 16px;
  border: none;
  border-bottom: 1px solid black;
  outline: none;
  box-sizing: border-box;
  font-size: 1.6rem;
  resize: none;
  height: 120px;
  border-radius: 0px;
  background-color: white;
  margin-bottom: -2pc;
}

.form-group textarea:focus {
  border-color: #333;
  background-color: white;
}

.error-text {
  color: red;
  font-size: 1.4rem;
}
/* Success Message */
.success-message {
  margin-top: 20px;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  text-align: center;
  border-radius: 5px;
  font-weight: bold;
}